build*/
install*
leap*
nbproject/
doc/html/
doc/xml/
doc/swig_includeAll.i
src/generalKernel/dtOOVersion.h
/cmake/dtOOConfig.cmake
*.m~
*.pyc
scripts/doc/html
ThirdParty/
.spyproject
*kdev4*
.vimrc
.cache
.ycm_extra_conf.py
compile_commands.json
*.swp
