name: documentation

on:
  push:
    branches: [main]
  pull_request_target:
    types: [opened, synchronize, reopened, closed]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write

concurrency: preview-${{ github.ref }}

jobs:
  docs:
    runs-on: ubuntu-latest
    environment: pr-preview
    permissions:
      contents: write
      pages: write
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - uses: actions/setup-python@v3
      - name: Doxygen Action
        uses: mattnotmitt/doxygen-action@v1.1.0
        with:
          doxyfile-path: "Doxyfile"
          working-directory: "./doc"
      - name: Install dependencies
        run: |
          pip install sphinx sphinx_rtd_theme myst_parser breathe
      - name: Sphinx build
        run: |
          cd doc && sphinx-build . _build
      - name: (main) Deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: doc/_build/
          clean-exclude: pr-preview/
      - name: (PR) Set base URL for preview
        if: github.ref != 'refs/heads/main'
        run: echo "BASE_URL=https://${{ env.DOMAIN }}/${{ github.event.repository.name }}/${{ env.PR_PATH}}/" >> $GITHUB_ENV
      - name: Configure git auth for GITHUB_TOKEN
        if: github.event_name == 'pull_request_target'
        run: |
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
      - name: (PR) Deploy preview
        if: github.event_name == 'pull_request_target'
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: doc/_build/
          token: ${{ secrets.GITHUB_TOKEN }}
